html, body, div, ul, li, p {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

p {
    text-align: justify;
}

#canvas {
    margin: 0 auto;
    width: 80%;
}

#nav {
    /* position: fixed;
    top: 0;
    left: 0;
    width: auto; */
    border-top: 5px solid orange;
    text-align: center;
}

#introCard {
    float: right;
    max-width: 25%;
    width: auto;
    height: auto;
    /* border: 1px dashed red; */
    margin-top: 0px;
    margin-bottom: 1rem;
    text-align: center;
}

#header {
    max-width: 70%;
    height: auto;
    font-family: 'Didact Gothic', sans-serif;
    background-image: url("../img/header-background.JPG");
    height: auto;
    background-size: cover;
    background-position-y: 0;
    background-repeat: no-repeat;
    color: white;
    background-color: rgb(5, 41, 65);
}

.myName {
    font-family: 'Dancing Script', cursive;
    text-align: right;
    font-size: 3.3rem;
    font-weight: 300;
    line-height: 1.2;
}

.smallIcon {
    max-width:50px;
    height: auto;
    cursor: pointer;
    padding: 5px;
    /* padding-left: 10px;
    padding-right: 10px; */
}

#sideBar {
    max-width: 35%;
    float: right;
    font-family: 'Staatliches', cursive;
    border: 0.5px solid lightgrey;
    border-radius: 0.3rem;
    margin-left: 20px;
}

.nav-link:hover {
    background-color: antiquewhite;
}

.myAc {
    list-style: none;
    /* margin: 0 auto; */
    /* text-align: center; */
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 60%;
    width: auto;
    font-family: 'Didact Gothic', sans-serif;
}

.ac-item-hd {
    background-color: white;
    cursor: pointer;
    text-align: center;
    font-family: 'Poiret One', cursive;
    color: royalblue;
}

.ac-item-hd:hover {
    background-color: lightgoldenrodyellow;
    border: 2px solid palegoldenrod;
    height: 35px;
    line-height: 35px;
    font-size: 1.2em;
    color: black;
}

.ac-item-hd, .ac-item-bd {
    min-height: 28px;
    height: auto;
    line-height: 28px;
    border: 0.5px solid lightgrey;
    border-radius: 0.3rem;
}

ul li .ac-item-bd {
    height: auto;
    display: none;
    padding: 5px;
}

#VHMC {
    width: auto;
    height: auto;
}

#backToTop {
    width: 8%;
    height: auto;
    position: fixed;
    right: 1%;
    bottom: 0;
    cursor: pointer;
}

#footer {
    text-align: center;
    min-height: 50;
    height: auto;
    line-height: 50px;
    background-color: lightpink;
    font-family: 'Pacifico', cursive;
}