html, body, div, ul, li, p {
    padding: 0;
    margin: 0;
}

/* .navbar {
    position: fixed;
    float: right;
} */

#header {
    height: 820px;
    width: 1150px;
}

.jumbotron {
    background-image: url("../img/header-background.JPG");
    height: 800px;
    background-size: 100% 100%;
    background-position-y: 0;
    background-repeat: no-repeat;
}